/* Add your fontkit here */
    @import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');

    * {box-sizing:border-box}

/* Applies to all the body */
    body {
        margin: auto;
        padding: auto;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        background-color: #7579D1;
        color: #fff;
    }

/* Adjusts all of your headings */
    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
        text-align: center;
        background-color: #000000;
        padding: 20px;
        border-radius: 20px;
        width: 40%;
        margin: 50px auto;

    }

/* Page title area */
    header {
        display: flex;
        align-items: center;
        width: 100vw;
        height: 50vh;
        background-image: url(cuttlefish-pictures/istockphoto-540984424-612x612.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        margin-left: 160px;
    }

/* Page title words */
    header h1 {
        padding: 16px;
        width: 50%;
        margin: auto;
        background-color: #00000071;
        color: #fff;
        font-size: 5vw;
        border-radius: 20px;
    }

/* Navigation bar as a grid for even spacing and sticky to stick to the top of the screen
    nav {
        display: grid;
        position: sticky;
        position: -webkit-sticky; 
        top: 0;
        padding: 1em;
        grid-template-columns: auto auto auto auto;
        text-align: center;
        background-color: #00000071;
        font-size: 50pt;
    }

Nav link adjustments
    nav a {
        color: #fff;
    } */

/* Link hover */
    a:hover {
        color: #fdfdfd;
    }

/* Back to top Button */
    .back-to-top-btn {
        padding: 16px;
        position: fixed;
        right: 32px;
        bottom: 32px;  
        background-color: #00000071;
        color: #fff;
        font-size: 18pt;
    }

/* Applies to each section */
    section {
        padding: 50px 0px; 
        margin-top: -50px;
        width: 80%;
        margin: auto;
    }

    hr {
        margin: 100px 0px 0px;
    }

/* Section title heading size */
    section h2 {
        font-size: 48pt;
    }

/* Basic element css. Simple 2 column grid with the image attribute displaed on hover */
    .two-column-container {
        display: inline-grid;
        grid-template-columns: auto auto;
        width: 100%;
        text-align: left;
        margin: 25px 0px;
    }
    .pre-wrap {
        white-space: pre-wrap;
        word-wrap: break-word;
    
    }
    .img-text {
        display: flex;
        align-items: center;
        font-size: 20pt;
    }
    .img-attribution {
        width: 35%;
        opacity: 1;
        transition: opacity 0.5s ease;
    }
    .attribution {
        position: relative;
        margin: -140px 16px 16px 16px;
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    .fig-hover-attribution:hover .img-attribution{
        opacity: 0.1;
        transition: opacity 0.5s ease;
    }
    .fig-hover-attribution:hover .attribution {
        opacity: 1;
        transition: opacity 0.5s ease;
    }

/* Large text section */
    .large-text{
        margin: 25px 0px;
        text-align: center;
        font-size: 32pt;
    }

/* Table Styling */
    #famous-donkey {
        margin: 25px 0px;
        border-collapse: collapse;
        width: 100%;
    } 
    #famous-donkey td, #famous-donkey th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    #famous-donkey tr:nth-child(even){
        background-color: #f2f2f2;
    }
    #famous-donkey tr:hover {
        background-color: #ddd;
    }
    #famous-donkey th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #353535;
        color: white;
    }

/* Card display Css*/
    .card-grid{
        width: 80%;
        margin: 50px 10%;
        display: inline-grid;
        grid-template-columns: auto auto auto;
        column-gap: 25px;
    }
    .card {
        max-width: 200px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    } 
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }  
    .card-container {
        padding: 2px 16px;
        text-align: center;
    }
    .card-button {
        background-color: white; 
        color: black; 
        border: 2px solid #0c581f;
        padding: 16px 32px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    .card-button:hover {
        background-color: #0c581f;
        color: white;
    }

/* Carousel */
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }
    .mySlides {
        display: none;
    }
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .active, .dot:hover {
        background-color: #717171;
    }
    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

/* Gallery Thumnail style */
    .thumbnail-container {
        display:flex;
        flex-wrap:wrap;
        align-content: center;
        justify-content: center;
        max-width: 1300px;
        margin:0 auto;
        padding:0px;
    }
    .thumbnail-container img {
        padding: 0px 2px;
    }


/* Applies to footer */
    footer {
        padding: 50px 10px 10px 10px;
        background-color: #00000071;
        text-align: right;
    }
    .footer-grid {
        width: 60%;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 50px;
        text-align: left;
    }
    .footer-grid-items{
        display: flex;
        flex-direction: column;

    }
    footer a{
        color:#fff;
    }
